broker {
	local {
	    amqurl = "tcp://localhost:61616"
		jmxurl = "service:jmx:rmi:///jndi/rmi://localhost:1099/jmxrmi"
		username = ""
		password = ""
		prompt-color = "light-red" // Possible values: "gray", "red", "light-red", "light-green", "green", "light-yellow", "yellow", "light-blue", "blue", "light-purple", "purple", "light-cyan", "cyan", "light-white", "white"
	}

	// add additional brokers here
}

command {
	queues {
		order {
			field = "Pending" // Possible values: "Queue Name", "Pending", "Enqueued" and "Dequeued" 
			direction = "" // Possible value: "reverse"
		} 
	}
	topics {
		order {
			field = "Topic Name" // Possible values: "Topic Name", "Enqueued" and "Dequeued" 
			direction = "" // Possible value: "reverse"
		} 
	}	
}

embedded-broker {
	connector = "tcp://localhost:61616"
	jmxport = 1099	
}